{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}My Portfolio:About{% endblock %}
{% block content %}
<div class="Row" id="About">
    <!--Left column-->
    <div class="Column_2">
        <img src="{% static '/images/about.jpg' %}" alt="">
    </div>
    <!--Right column-->
    <div class="Column_1">
        <h1>About</h1>
        <p style = "color:Dimgrey;">
            My major was computer science in KyungHee university(located in Korea) and I worked as a computer programmer for two years.
        </p>
        <p style ="color:green;">
            I am studying of <a href="https://www.learncodinganywhere.com" target="_blank">The Tech Academy</a>’s Software
            Developer Boot Camp, and trained and experienced in the following web and programming languages: HTML, CSS, JavaScript, SQL, Python and more.
        </p>
        <p style="color: deeppink;">
            I am a full-stack developer and would love to work with you on your project. <a href="#Contact">Contact</a> me below!
        </p>
    </div>
</div>
{% endblock %}
