{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}My Portfolio:home{% endblock %}
{% block content %}
   <div id="Home">
            <video autoplay muted loop id="Typing_Video">
                <source src="{% static './images/video/Typing.mp4' %}" type="video/mp4">
                <!--Display message if video fails to run-->
                Your browser does not support HTML% video.
            </video>
        </div>
<!--Video Text-->
        <div class ="first_page">
            <div class="Video_Text">
                <h1 class="white-text">Seonhwa's Portfolio</h1>
                <strong>
                    <p class="center">
                        My name is Seonhwa Kwon.
                        <br> Welcome to my portfolio website.
                        <br>Thank you for stopping by enjoy!
                    </p>
                </strong>
            </div>
             <div id="Slideshow_Background">
                <div id="Slideshow_Container">
                    <!-- Slide 1 of 6 -->
                    <div class = "mySlides fade">
                        <img class="Slideshow_Images" src="{% static '/images/mypicture.jpg' %}" alt ="My picture">
                        <div class="text">I'm available to assit you on your project!</div>
                    </div>
                    <!-- Slide 2 of 6 -->
                    <div class="mySlides fade">
                        <img class="Slideshow_Images" src="{% static '/images/HTML_CSS_and_JavaScript.jpeg' %}" alt="HTML, CSS, and JS logos">
                        <div class="text">I am a full-stack software developer,<br> trained in:<br>HTML, CSS, JavaScript,</div>
                    </div>
                    <!-- Slide 3 of 6 -->
                    <div class="mySlides fade">
                        <img class="Slideshow_Images" src="{% static '/images/Python.png'%}" alt="Python logo">
                        <div class="text">the popular programming language Python,</div>
                    </div>
                    <!-- Slide 4 of 6 -->
                    <div class="mySlides fade">
                        <img class="Slideshow_Images" src="{% static '/images/C_Sharp_and_Dot_NET.png' %}" alt="C# logo">
                        <div class="text">C#, .NET Framework, ASP.NET, MVC, </div>
                    </div>
                    <!-- Slide 5 of 6 -->
                    <div class="mySlides fade">
                        <img class="Slideshow_Images" src="{% static '/images/SQL_and_Database.jpg' %}" alt="SQL logo">
                        <div class="text">back end development, databases and SQL.</div>
                    </div>
                    <!-- Slide 6 of 6 -->
                    <div class="mySlides fade">
                        <img class="Slideshow_Images" src="{% static 'images/contact_me.jpg' %}" alt="Contact me">
                        <div class="text"><a class="white-text contact" onclick="openForm()">Contact me now!</a></div>
                    </div>
                    <!-- Previous and next buttons -->
                    <a class="Previous" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="Next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br> <!-- Adds a space between the slideshow images and the dots -->

                <!-- Slideshow dots (these are another way for users to navigate through the slideshow) -->
                <div style="text-align: center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                </div>
            </div>
        </div>
{% endblock %}